@import "tailwindcss";

@theme {
  --font-maFont: "Poppins", "sans-serif";
  --font-logoFont: "Ballet", "serif";
  --text-size10: 10px;
  --text-size11: 11px;
  --text-size12: 12px;
  --text-size14: 14px;
  --breakpoint-3xl: 1920px;
  --shadow-glow: 0px 0px 50px rgba(255, 255, 255, 0.2);
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

/* Personnalisation de la barre de défilement */
.scrollbar-thin {
  scrollbar-width: thin; /* Barre de défilement plus fine */
  scrollbar-color: #b6b4b4 #f1eaea; /* Couleurs du thumb et du track */
}

